html {
  scroll-behavior: smooth;
  text-align: center;
}

.abc {
  color: red;
}
#cont {
  padding-top: 56px;
}

.rowHomeopathy {
  width: 100%;
  height: 92vh;
  text-align: center;
}
.rowTreatment {
  width: 100%;
  background: red;
  height: 100vh;
  text-align: center;
}

.imageText {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
  .homeopathyimage {
    width: 100%;
    height: 92vh;
  }
  .rowTreatment {
    margin-top: 55px;
  }

  .imageText p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 20px;
    color: white;
    font-size: 300%;
  }

  .imageText footer {
    color: white;
    font-size: 120%;
  }
}

@media (max-width: 600px) {
  .homeopathyimage {
    width: 100%;
    height: 92vh;
  }

  .rowTreatment {
    margin-top: 55px;
  }

  .imageText p {
    margin-top: 10px;
    color: white;
    font-size: 150%;
  }

  .imageText footer {
    color: white;
    font-size: 80%;
  }
}
